.sign-up-container {
  display:flex;
  flex-direction: column;
  width:380px;
  h2 {
    margin: 10px 0;
  }
  .message {
    margin-top: -10px;
    margin-bottom: 30px;
    font-weight: 550;
    text-align: center;
    font-size: 0.9em;
  }
  .error {
    color: red;
  }
  .success {
    color: green;
  }
}